In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\PC\Downloads\marie.xlsx"

In [5]:
df = pd.read_excel(path)

In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
print(df.head())

   Age  Gender Educationlevel  Householdsize  Farmsize  Experience  Yield  \
0   67    Male       Secondar              3       2.0           5   45.0
1   60  Female       Tertiary              4       2.5           4   50.0
2   70  Female        Primary              2       2.0          36   29.0
3   64    Male        Primary              1       1.0           4   27.0
4   39    Male       Tertiary              4       1.0           1   15.0

   Marketprice Fertilizerusage Typeoffertilizer  ...  Poormarketacc  \
0        11000             Yes         Chemical  ...              0
1        11000             Yes          Organic  ...              0
2        11000             Yes          Organic  ...              1
3        11000             Yes          Organic  ...              0
4        11000             Yes          Organic  ...              0

   Lowcoffeepric climate_change  low_technique pests_deseases others specify  \
0              0              0              0              1      0     NaN
1              1              1              1              0      1     NaN
2              0              0              1              0      0     NaN
3              0              0              0              0      0     NaN
4              1              0              0              0      0     NaN

   interventions  comments Distrists
0        Gharama  Iangaliw         1
1       Wataaala  Hamasa z         1
2        Vibarua  Hakuna m         1
3       Chama ki  Mifereji         1
4       Upatikan   Kuwe na         1

[5 rows x 39 columns]

In [8]:
print(f"The type of the variable Gender is {type(df['Gender'])}")

The type of the variable Gender is <class 'pandas.core.series.Series'>

In [13]:
print(df['Gender'].dtype)

float64

#I want to change female from string into interger

In [12]:
df['Gender'] = df['Gender'].map({
    'Female': 0, 
    'Male': 1
    })

In [18]:
print(df['Gender'])

0      1
1      0
2      0
3      1
4      1
      ..
379    0
380    1
381    0
382    0
383    0
Name: Gender, Length: 384, dtype: int64

In [17]:
print(df[df['Gender'].isna()])

Empty DataFrame
Columns: [Age, Gender, Educationlevel, Householdsize, Farmsize, Experience, Yield, Marketprice, Fertilizerusage, Typeoffertilizer, Fertilizerfrequency, Fertilizerquantity, Usepesticides, Pesticidefrequency, inputsource, Q16_other.Pleasespecify, Trainingaccess, Extensionvisits, Useirrigation, Accessedloan, Loanamount, Coopmember, Laborsource, Labornumber, Coffeemarket, Marketdistance, Pricesatisfaction, Farmingchallenges, Highcosts, Poormarketacc, Lowcoffeepric, climate_change, low_technique, pests_deseases, others, specify, interventions, comments, Distrists]
Index: []

[0 rows x 39 columns]

here i changed the missing values (Nan) and gave them a value of 0

In [16]:
df['Gender'] = df['Gender'].fillna(0).astype(int)

here i chaged the education variable into an interger since it was a string before

In [20]:
df['Educationlevel'] = df['Educationlevel'].map({
    'Primary': 0, 
    'Secondar': 1,
    'Tertiary': 2
    })

In [23]:
df['Educationlevel'] = df['Educationlevel'].fillna(0).astype(int)
df['Educationlevel'] = df['Educationlevel'].astype(int)
print(df['Educationlevel'])

0      1
1      2
2      0
3      0
4      2
      ..
379    0
380    0
381    0
382    1
383    0
Name: Educationlevel, Length: 384, dtype: int64

Now changing the fertilizer variable into an interger

In [29]:
df['Fertilizerusage '] = df['Fertilizerusage'].map({
    'No': 0, 
    'Yes': 1
    })

In [28]:
print(df['Fertilizerusage'])

0      Yes
1      Yes
2      Yes
3      Yes
4      Yes
      ...
379    Yes
380    Yes
381    Yes
382    Yes
383    Yes
Name: Fertilizerusage, Length: 384, dtype: object

In [31]:
df.to_csv('test1.csv', index=False)

In [32]:
df.to_stata('test2.dta', write_index=False)

C:\Users\PC\AppData\Local\Temp\ipykernel_6368\83727086.py:1: InvalidColumnName:
Not all pandas column names were valid Stata variable names.
The following replacements have been made:

    Q16_other.Pleasespecify   ->   Q16_other_Pleasespecify
    Fertilizerusage    ->   Fertilizerusage_

If this is not what you expect, please make sure you have Stata-compliant
column names in your DataFrame (strings only, max 32 characters, only
alphanumerics and underscores, no Stata reserved words)

  df.to_stata('test2.dta', write_index=False)